html {
  max-width: 29rem;
  margin: 0 auto;
  padding: 1rem;
  font: 1.25rem / 1.5 sans-serif;
  background-color: grey;
  color: white;
}
body { margin: 0; }
hr { border: 0; border-top: 1px solid #ddd; }
h1, h2, h3 { text-align: center; line-height: 1em; text-wrap: balance; }
h1 { margin-block: 0.67em; font-size: 2rem; }
a { color: white; text-decoration-color: #ddd; }
ul { padding: 0; }
ul > li { margin: 1em 0; list-style-type: none; }
article + article { margin-top: 1em; }
hr + p, hr + ul { margin-top: 1rem; font-size: small; }
hr + ul > li { margin: 0; }
footer { margin-top: 2em; }
nav { display: flex; }
footer a[rel=prev] { flex: 50%; }
footer a[rel=prev]::before { content: "⇦"; margin-right: 0.3em; display: inline-block; text-decoration: none; }
footer a[rel=next] { flex: 50%; text-align: right; }
footer a[rel=next]::after { content: "⇨"; margin-left: 0.3em; display: inline-block; text-decoration: none; }
